.kline_container{
	position: relative;
	height: 100%;
	z-index: 1;
}
.trade_container{
	position: absolute;
	right:0;
	top: 0;
	bottom: 0;
	width: 250px;
    height: 100%;
    z-index: 99999;
    font-size: 12px;
    overflow: hidden;
}
.trade_container.dark,
.skin-dark .trade_container {
	border-left: 1px solid #FF3C39;
    color: #E7E7E7;
}
.trade_container.light,
.skin-light .trade_container{
    background: #fff;
    border-left: 1px solid #bababa;
    color: #002C57;
}
.chart_container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: default;
    font-family: arial, sans, serif;
    font-size: 12px;
}
.kine_chart{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
}
.trade_container~.kine_chart{
	right: 250px;
}
#chart_canvasGroup {
    position: absolute;
    z-index: 0;
}
.symbol-title {
    font-weight: bold;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-family: Arial, sans, serif;
    padding:0 5px;
    color: #FFFF00;
}
.dark .symbol-title{
	color: #FFFF00;
}
.skin-light .symbol-title,
.light .symbol-title{
	color: #002C57;
}

.orderbook,.trade_form {
	position: relative;
	display: block;
	height: 200px;
	line-height: 20px;
	font-size: 12px;
	border-bottom:1px solid #FF3C39;
}
.orderbook{ overflow: hidden;}
.light .trade_container .orderbook,
.light .trade_form,
.skin-light .trade_container .orderbook,
.skin-light .trade_form{ border-bottom-color:#bababa;}

#asks,#bids{
	height: 220px;
}

.orderbook .row{
	display: flex;
  	width: 100% !important;
	height: 22px;
	line-height: 22px;
}
.orderbook .row span{
	padding: 0 5px;
}
.orderbook .row span.name{
	width:50px;
}
.orderbook .row span.price,
.orderbook .row span.amount{
	flex: 1;
}
.orderbook .row span.price{
	text-align: right;
	color: #FF3C39;
}
.orderbook .row span.amount{
	color: #FFFF00;
	text-align: center;
}
#asks .row:last-child .price,
#asks .row:last-child .amount,
#bids .row:first-child .price,
#bids .row:first-child .amount{
	font-size: 16px; font-weight: bold;
}
.orderbook .fall{color: #00E700 !important;}
.orderbook .rise{color: #FF3C39 !important;}
.orderbook .flat{color: #fff !important;}

#plate{
	height:140px;
	line-height: 20px;
}
#plate li{
	float: left;
	 width: 50%;
	 padding-left: 3px;
	 padding-right: 10px;
}
#plate li:nth-child(2n){ padding-left: 10px; padding-right: 3px;}
#plate li span{float: right; color:#FFFF00;}

.light .orderbook .row span.amount,
.light .orderbook .null,
.skin-light .orderbook .row span.amount,
.skin-light .orderbook .flat,
.skin-light #plate li span,
.light #plate li span{ color:#002C57;}

.trade_container .trade_form{ line-height: 18px; height: 140px; padding-top:5px;}
.trade_container .trade_price,
.trade_container .trade_num{
	position: relative;
	float: left;
	width: 50%;
	height: 24px;
	padding:3px;
	/*overflow: hidden;*/
}
.trade_container .trade_price select{
	 width: 100%;
	border: 1px solid #999;
}
.trade_container .trade_num .numObject{
	width: 100%;
	border: 1px solid #7f9db9;
	height: 20px;
	position: relative;
}
.trade_container .trade_num .numObject input[type=number]{
	width: 100%;
	border:none;
	padding: 0px 3px;
	margin-top: 0px;
	height: 18px;
	line-height: 18px;
	margin-right: 0;
	float: left;
}

.trade_container .trade_info{
	padding:10px 5px 5px;
	line-height: 22px;
}
.trade_container .trade_info .item{ float: left; width: 50%; height:22px;}
.trade_container .trade_opt .btn{
	display: inline-block;
	margin: 5px 10px 3px;
	width:46px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius:4px;
	padding: 0 8px;
	font-size: 16px;
	font-weight: bold;
	background: linear-gradient(to bottom, #fff 0%, #e0dedf 100%);
}
.trade_container .trade_opt .btn-buy{
	color: #FF3C39;
}
.trade_container .trade_opt .btn-sale{
	color:#066b06;
	margin-right: 0;
}
.trade_container .trade_opt .btn-evenup{
	width:80px;height: 30px; line-height: 30px; margin: 5px 15px 3px 5px; color: #000;font-size: 12px;font-weight: normal;
}
.trade_container .trade_list{
	/*height: 140px;*/
	overflow-y:auto;
	/*position: relative;*/
}
.trade_container .trade_list{
	position: absolute;
	left:0;
	top:600px;
	right: 0;
	bottom:0;
}

.trade_container .trade_list .th{ color: #a4a4a4;}
.skin-light .trade_container .trade_list .th,
.light .trade_container .trade_list .th{ color: #696969;}
.trade_container .trade_list li{
	float: left;
	padding: 0 3px;
	width:25%;
	height: 20px;
	line-height: 20px;
	color: #f0f0f0;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
}
.trade_container .trade_list li.tm{width:30%; text-align: left;}
.trade_container .trade_list li.ty{ width:20%;}

.trade_container .trade_list .fall{color: #00E700 !important;}
.trade_container .trade_list .rise{color: #FF3C39 !important;}
.trade_container .trade_list .flat{color: #fff !important;}

.light .trade_container .trade_list li,
.skin-light .trade_container .trade_list li{ color:#002C57;}
